<section class="o-section o-section--white">
    <div class="o-inner">
        <h2 class="o-title o-title--white">
            モニターツアー開催地について
            <span>BENUE</span>
        </h2>
    </div>
</section>
