<section id="hirota" class="o-section o-section--blue">
    <div class="o-inner">
        <h2 class="o-title o-title--black js-fadein">
            「人が魅力のまち」<br>広田町
            <span>HIROTA</span>
        </h2>
    </div>
</section>
