<section class="o-section o-section--blue">
    <div class="o-wave o-wave--top"></div>
    <div class="o-inner">
        <h2 class="o-title o-title--black">
            「人が魅力のまち」<br>広田町
            <span>HIROTA</span>
        </h2>
    </div>
    <div class="o-wave o-wave--bottom"></div>
</section>
