<svg class="o-wave o-wave--top" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <path id="wave_top_02" d=""/>
</svg>
<section class="o-section o-section--blue">
    <div class="o-inner">
        <h2 class="o-title o-title--black">
            「人が魅力のまち」<br>広田町
            <span>HIROTA</span>
        </h2>
    </div>
</section>
<svg class="o-wave o-wave--bottom" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <path id="wave_bottom_02" d=""/>
</svg>
