<section class="o-section o-section--white">
    <div class="o-inner">
        <h2 class="o-title o-title--white">
            モニターツアーの参加により、<br>学べること・得られること
            <span>LEARNING</span>
        </h2>
    </div>
</section>
