<section id="overall" class="o-section o-section--white c-top__overall">
    <div class="o-inner">
        <h2 class="o-title o-title--white js-fadein">
            モニターツアーの全体像
            <span>OVERALL</span>
        </h2>
        <div class="c-top__overall-flex js-fadein">
            <div class="box box--left">
                <h4>事前の学び</h4>
                <div class="period period--01">2021年11月</div>
                <ul>
                    <li>
                        オンライン事前研修②<br>
                        <span class="bold">11/22（月）</span><br>
                        <span class="orange">16:00-18:00</span>
                    </li>
                    <li class="asterisk">※モニターツアーは、10名程度が参加予定</li>
                </ul>
            </div>
            <div class="arrow"></div>
            <div class="box box--center">
                <h4>モニターツアーの実施</h4>
                <div class="period period--02">12月3（水）～12月6日（土）</div>
                <ul>
                    <li>
                        <span class="bold">12/3（水）</span><br>
                        <p>〈午前〉 移動（陸前⾼⽥市街地で昼⾷）</p>
                        <p>
                            〈午後〉<span class="orange">【震災・町を知る】</span>・震災遺構の視察<br>
                            <span class="orange">【町・町の⼈を知る】</span>・町⺠フィールドワーク
                        </p>
                        <p>〈夜〉　【交流会】SETメンバーと交流</p>
                    </li>
                    <li>
                        <span class="bold">12/4（木）</span><br>
                        <p>
                            〈午前〉 地元の方の家で朝食、テレワーク<br>
                            <span class="orange">【設定課題を深掘る】</span>・目的を深める対話
                        </p>
                        <p>
                            〈午後〉 広田町内にて昼食<br>
                            <span class="orange">【町・町の⼈を知る】</span>・町⺠フィールドワーク<br>
                            <span class="orange">【アクション準備】</span>・企画設計会議等
                        </p>
                        <p>〈夜〉　【交流会】地元の方とご飯会<p></p>
                    </li>
                    <li>
                        <span class="bold">12/5（金）</span><br>
                        <p>
                            〈午前〉 地元の方の家で朝食、テレワーク<br>
                            <span class="orange">【アクション準備】</span>・企画設計会議等
                        </p>
                        <p>
                            〈午後〉 SETのナチュラルフードコーディネーターによる昼食<br>
                            <span class="orange">【最終アクション実施】</span>
                        </p>
                        <p>
                            〈夜〉　黒崎仙峡温泉<br>
                            【交流会】SETメンバーと交流
                        </p>
                    </li>
                    <li>
                        <span class="bold">12/6（土）</span><br>
                        <p>
                            〈午前〉 地元の方の家で朝食<br>
                            <span class="orange">【振り返り】</span>・事実と感情を振り返る
                        </p>
                        <p>
                            〈午後〉 コミュニティカフェ彩葉にて昼食<br>
                            <span class="orange">【研修のまとめ】</span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="arrow"></div>
            <div class="box box--right">
                <h4>事後の学び</h4>
                <div class="period period--03">12月～2022年1月</div>
                <ul>
                    <li>
                        オンライン事後研修①<br>
                        <span class="bold">12/20（月）</span><br>
                        <span class="orange">16:00-18:00</span>
                    </li>
                    <li>
                        オンライン事後研修②<br>
                        <span class="bold">2022年1/17（月）</span><br>
                        <span class="orange">16:00-18:00</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
