<section id="model" class="o-section o-section--white c-top__model">
    <div class="o-inner">
        <h2 class="o-title o-title--white js-fadein">
            研修フレームワーク：<br>「MV2GROWモデル」
            <span>MODEL</span>
        </h2>

    </div>
</section>
