<section id="model" class="o-section o-section--white c-top__model">
    <div class="o-inner">
        <h2 class="o-title o-title--white js-fadein">
            研修フレームワーク：<br>「MV2GROWモデル」
            <span>MODEL</span>
        </h2>
        <div class="c-top__model-image js-fadein">
            <picture>
                <source media="(max-width:599px)" srcset="<%= ROOT %>/img/model/contents_pc.png">
                <img src="<%= ROOT %>/img/model/contents_pc.png" alt="image">
            </picture>
        </div>
        <div class="c-top__model-comment js-fadein">
            <img src="<%= ROOT %>/img/model/comment.png" alt="MV2GROWモデルで、自己理解を深めましょう！">
        </div>
    </div>
</section>
