<section id="member" class="o-section o-section--white c-top__member">
    <div class="o-inner">
        <h2 class="o-title o-title--white js-fadein">
            サポートメンバー／ナビゲーター
            <span>MEMBER</span>
        </h2>

    </div>
</section>
