<section id="apply" class="o-section o-section--white">
    <div class="o-inner">
        <h2 class="o-title o-title--white">
            実施概要・申込方法
            <span>APPLY</span>
        </h2>
        <table class="o-table o-table--gray">
            <tr>
                <th>日程</th>
                <td>
                    <span class="bold">2021年12月3日（水）〜6日（土）</span>
                </td>
            </tr>
            <tr>
                <th>募集人数</th>
                <td>定員10名</td>
            </tr>
            <tr>
                <th>料金</th>
                <td>
                    <span class="accent">
                        3泊4日プログラム費用 000,000 円（税込）／1名様<br>
                        （モニターツアーにつきプログラム参加費無料！）
                    </span><br><br>
                    ・東北新幹線「一ノ関」までの往復移動費は、各自ご負担となります。<br>
                    ・催行中の写真画像等は、今後のツアー募集時の素材として利用させていただきます。<br>
                    ・オプション体験ツアーをご希望の場合は別途追加料金が必要となります。<br><br>
                    ＜料金内に含まれるもの＞<br>
                    宿泊費、初日夕食代、<br>
                    2日目朝・昼・夜の食事代、3日目朝食代、市内の移動費<br>
                    ガイド料金及び保険料
                </td>
            </tr>
            <tr>
                <th>参加資格</th>
                <td>
                    ・ 企業や団体、その他形態で現在就業中の方（年齢不問）<br>
                    ・ツアー参加後のアンケートやレポート提出にご協力いただける方<br>
                    ・ツアー中の画像及びアンケート等データを広告素材に利用させていただける方<br><br>
                    <span class="asterisk">※アンケートやレポート等の内容は、個人情報が特定できない範囲内で今後のツアー募集時に素材利用させていただきます。</span>
                    <span class="asterisk">※お申し込み時に頂戴いたしました個人情報は、本ツアー受付に際しての利用のほか、今後のワーケーションツアー情報を個別にご連絡差し上げる場合にも利用させていただくことがあります。</span>
                </td>
            </tr>
            <tr>
                <th>応募締切</th>
                <td>
                    <span class="accent">募集締め切りは●月●日です。</span><br>
                    <span class="asterisk">※参加条件に基づき選考結果を●月●日までにご連絡いたします。</span>
                </td>
            </tr>
            <tr>
                <th>お申込の流れ</th>
                <td>
                    お申し込み後、予約確定のご連絡をいたします。追加でのオプションツアー等参加料金などがある場合には、予約確定メールにお振込み先口座をお知らせいたしますので、協会が指定する日時までに指定口座にご入金ください。<br><br>
                    <span class="asterisk">※自然災害等やむを得ない事由により万一当ツアーの催行ができない場合、オプションツアー代金など事前ご入金分の代金がある場合には、全額ご返金致します。</span>
                    <span class="asterisk">※コロナウイルス感染症の状況を鑑みて中止・延期等の判断をします。</span>
                    <span class="asterisk">※お申し込み後のお客様御都合でのキャンセルは、ツアー催行21日前にあたる<span class="accent">●月●日（●）</span>までにご連絡ください。</span>
                    <span class="asterisk">※これ以降のキャンセルの場合、オプションツアー部分には手配取消料が発生いたします。予めご了承ください。</span>
                </td>
            </tr>
            <tr>
                <th>お支払方法</th>
                <td>
                    オプションツアー代金は下記いずれかにお振込みください。<br>
                    お申し出がございましたら当日の現金もしくはクレジットカード払い、電子決済等でのお支払いも
                    可能です。<br><br>
                    ＜振込先＞<br>
                    <span class="asterisk">※金融機関名入る金融機関名入る金融機関名入る金融機関名入る金融機関名入る金融機関名入る金金融機関名入る融機関名入る</span>
                </td>
            </tr>
            <tr>
                <th>お申込み・お問い合わせ先</th>
                <td>
                    テキストテキストテキストテキストテキストテキストテキストテキスト
                </td>
            </tr>
        </table>
    </div>
</section>
