.c-top {
    @media #{$media-smp} {
    }
    // バナー
    &__banner {
        margin-bottom: 50px;
        &-inner {
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media #{$media-smp} {
                flex-direction: column;
            }
            a {
                display: block;
                @media #{$media-smp} {
                    max-width: 280px;
                    width: 100% !important;
                    &+a {
                        margin-top: 10px;
                    }
                }
                &.banner01 {
                    width: 28%;
                }
                &.banner02 {
                    width: 28%;
                }
                &.banner03 {
                    width: 37%;
                }
            }
        }
    }
    // 事前/事後研修の内容
    &__contents {
        &-block {
            &+.c-top__contents-block {
                margin-top: 70px;
                @media #{$media-smp} {
                    margin-top: 45px;
                }
            }
            .o-subtitle {
                margin-bottom: 30px;
                @media #{$media-smp} {
                    margin-bottom: 15px;
                }
            }
        }
    }
}
