<header id="header" class="o-header">
    <div class="o-inner o-inner--wide o-header__inner">
        <h1 class="o-header__logo">陸前高田LWK</h1>
        <%- include(ROOT + '/_nav') -%>
        <%- include(ROOT + '/_nav-sp') -%>
    </div>
</header>
