<nav id="nav" class="o-nav">
    <ul>
        <li>
            <a href="#">
                nav01
            </a>
        </li>
        <li>
            <a href="#">
                nav02
            </a>
        </li>
        <li>
            <a href="#">
                nav03
            </a>
        </li>
        <li>
            <a href="#">
                nav04
            </a>
        </li>
        <li>
            <a href="#">
                nav05
            </a>
        </li>
    </ul>
</nav>
