<div class="o-hamburger js-toggle-nav">
    <span></span>
    <span></span>
    <span></span>
</div>
<nav id="sp-nav" class="o-nav-sp">
    <ul class="o-nav-sp__list">
        <li class="o-nav-sp__item">
            <a href="#">
                nav01
            </a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#">
                nav02
            </a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#">
                nav03
            </a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#">
                nav04
            </a>
        </li>
        <li class="o-nav-sp__item">
            <a href="#">
                nav05
            </a>
        </li>
    </ul>
</nav>
