<!-- Swiper START -->
<div class="swiper-container">
	<!-- メイン表示部分 -->
	<div class="swiper-wrapper">
		<!-- 各スライド -->
		<div class="swiper-slide">
            <img src="<%= ROOT %>/img/swiper/01.png" alt="KV">
        </div>
		<div class="swiper-slide">
            <img src="<%= ROOT %>/img/swiper/02.png" alt="KV">
        </div>
		<div class="swiper-slide">
            <img src="<%= ROOT %>/img/swiper/03.png" alt="KV">
        </div>
	</div>
</div>
<!-- Swiper END -->
