.o-footer {
    color: $color-white;
    background-color: $color-blue;
    padding-bottom: 30px;
    @media #{$media-smp} {
        padding-bottom: 15px;
    }
    &__inner {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        @media #{$media-smp} {
            flex-direction: column;
        }
    }
    &__left {
        width: 48%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media #{$media-smp} {
            width: 100%;
        }
        .logo {
            font-weight: $font-bold;
            letter-spacing: 1px;
        }
        .info {
            width: 50%;
            font-weight: $font-mideum;
            @media #{$media-smp} {
                width: auto;
            }
            a {
                color: $color-white;
            }
        }
    }
    &__right {
        width: 48%;
        @media #{$media-smp} {
            width: 100%;
            margin-top: 20px;
        }
    }
    &__copy {
        text-align: right;
        font-size: 1.4rem;
        @media #{$media-smp} {
            text-align: center;
        }
    }
}
