// .o-wave {
//     position: absolute;
//     padding-top: 75px;
//     width: 100%;
//     // background-color: $color-blue;
//     transform: scale(-1, 1);
//     @media #{$media-smp} {
//         padding-top: 25px;
//     }
//     &::before,&::after {
//         content: "";
//         display: block;
//         position: absolute;
//         border-radius: 100% 50%;
//         animation-duration: 1.5s;
//         animation-timing-function: ease-in;
//         animation-delay: 0s;
//         animation-iteration-count:infinite;
//         animation-direction: alternate;
//         animation-fill-mode: forwards;
//         animation-play-state: none;
//     }
//     &::before {
//         width: 55%;
//         height: 109%;
//         // background-color: $color-white;
//         background-color: red;
//         right: -2%;
//         top: 60%;
//         animation-name: move-y_top;
//         @keyframes move-y_top {
//             from {
//                 transform: translateY(-5px);
//             }
//             to {
//                 transform: translateY(5px);
//             }
//         }
//         @media #{$media-smp} {
//             top: 70%;
//         }
//     }
//     &::after {
//         width: 55%;
//         height: 100%;
//         background-color: $color-blue;
//         left: -2%;
//         top: 40%;
//         animation-name: move-y_bottom;
//         @keyframes move-y_bottom {
//             from {
//                 transform: translateY(5px);
//             }
//             to {
//                 transform: translateY(-5px);
//             }
//         }
//     }
//     &--top {
//         top: 0;
//         transform: scale(-1, 1) rotate(180deg);
//     }
//     &--bottom {
//         bottom: 0;
//     }
// }

.o-wave {
    position: relative;
    &--top {
        top: 10px;
    }
    &--bottom {
        transform: rotate(180deg);
        bottom: 10px;
    }
}
